header{
    position: fixed;
    z-index:10;
    top:0;
    left:0;
    background: linear-gradient($black, rgba(0,0,0,0));
    @include padding();
    .back-btn{
        background: none;
        border: none;
        @media screen and (min-width: 992px){
            display: none;
        }
    }
    .logo{
        color: white;
        text-decoration: none;
        font-size: 24px;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.2s;
        text-align: center;
        &:hover{
            opacity: 0.75;
        }
    }
}
header, .spacer{
    @include size(64px, 100vw);
}

