.trainer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(-113px / 2);
    .image-section{
        position: relative;
        margin-bottom: 8px;
        .trainer-img{
            @include size(113px, 113px);
            border: 4px solid $black;
            border-radius: 50%;
        }
        .verified-icon{
            position: absolute;
            right: 4px;
            bottom:4px;
        }
    }
}